.logo {
  width: 100px;
  border-radius: 100%;
}

h1 {
  text-align: center;
  margin-bottom: 35px;
  font-weight: 700;
  text-decoration: underline;
}

.titres {
  margin-left: 250;
}

.column {
  margin-bottom: 25px;
}

.nav-link:hover {
  font-size: 20px;
  font-weight: 650;
}

footer {
  background-color: aqua;
  text-align: center;
}

footer a {
  list-style: none;
  text-decoration: none;
  color: black;
}
